# Compiled output
/dist
/tmp
/out-tsc

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.vscode/*
!.vscode/extensions.json
*.sublime-workspace

# Angular
/.angular/cache
.sass-cache/

# Testing
/coverage
/playwright-report
/test-results

# System files
.DS_Store
Thumbs.db

# Env
.env
.env.local
